# Swift Package Manager
.build/
.swiftpm/*
!.swiftpm/xcode
.swiftpm/xcode/*
!.swiftpm/xcode/xcshareddata
.swiftpm/xcode/xcshareddata/*
!.swiftpm/xcode/xcshareddata/xcschemes
.swiftpm/xcode/xcshareddata/xcschemes/*
!.swiftpm/xcode/xcshareddata/xcschemes/*.xcscheme
Package.resolved

# Xcode
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# macOS
.DS_Store
